<!DOCTYPE html>
<html>
<head>
  <!-- Page Title -->
  <title html_form="2">CS2102 Database Systems - PetCare</title>
  <link rel='stylesheet' href='/stylesheets/index.css' />

  <!-- CSS for Styling -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <!-- JavaScript for Interactivity -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

  <!-- ADDED JavaScript <script src="javascripts/loginScript.js"></script> -->

</head>
<body>
  <nav class="navbar fixed-top navbar-dark bg-primary">
    <a class="navbar-brand mb-1 h2" href="#"><%= title%></a>
    <form action="login" role="form" method="get">
      <button type="submit" class="btn btn-danger">Logout</button>
    </form>
  </nav>
  <br>

  <div class="row">
    <div class="column1">
      <div class="card border-0">
        <img class="card-img-top rounded-circle" src="http://placehold.it/200x200" alt="profile" />
      </div>
      <div class="d-flex flex-column align-items-center mt-4">
        <h5>Bob</h5>
        <h5>bob@gmail.com</h5>
      </div>
    </div>
    <div class="column2">

      <ul class="nav nav-tabs nav-fill" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Dates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Search</a>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
          <br>
          <div class="form-row" id="html_form" action="addpet" role="form" method="post">

            <div class="form-group col-md-6">
              <label for="email">Nickname *</label>
              <input class="form-control" id="nickname" name="nickname" placeholder="Nickname">
            </div>

            <div class="form-group col-md-6">
              <label for="breed">Breed *</label>
              <select id="breed" class="form-control">
                <option selected>Choose a breed...</option>
                <option>Golden Retriever</option>
                <option>Corgi</option>
              </select>
            </div>

            <div class="form-group col-md-6">
              <label for="diet">Diet *</label>
              <select id="diet" class="form-control">
                <option selected>Choose a diet...</option>
                <option>Vegetarian</option>
                <option>Carnivore</option>
                <option>Gluten-Free</option>
              </select>
            </div>

            <div class="form-group col-md-6">
              <label for="specialnotes">Special Notes</label>
              <input class="form-control" id="specialnotes" name="specialnotes" placeholder="Special Notes">
            </div>

            <button type="submit" class="btn btn-success">Add Pet</button>

          </div>

          <br><hr><br>

          <div class="table-responsive">
            <table class="table">
              <thead class="thead-light">
              <tr>
                <th scope="col">Nickname</th>
                <th scope="col">Breed</th>
                <th scope="col">Diet</th>
                <th scope="col">Special Notes</th>
              </tr>
              </thead>
            </table>
          </div>

        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

        </div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">

        </div>
      </div>

    </div>
  </div>

</div>
</body>
</html>